<script>
  import Video from "./Video.svelte";
  import { text } from "../store";
  import Social from "./Social.svelte";
  import ArrowRight from "../icons/ArrowRight.svelte";
  import ArrowLeft from "../icons/ArrowLeft.svelte";
  let clientHeight;
  let windowHeight;
  let clientWidth;
  let videoIsPlaying;
  let videoMakeFullscreen;
  let videoRef;
  let containerRef;
  let windowWidth;
  let titleHeight;


  $: isMobile = windowWidth <= 834;

  let activeIndex = window.videoArchive.length-1
  let animationPrev = false
  let animationNext = false
  const prevClicp = ()=>{
    if(activeIndex<=0)return
    activeIndex -=1;
    animationPrev = true;
  }
  const nextClip = ()=>{
    if(activeIndex >= window.videoArchive.length -1 )return
    activeIndex +=1;
    animationNext = true;
  }

  const resetAnimation =()=>{
    animationNext=false;
    animationPrev=false;
  }
  $: if(videoRef){
    setTimeout(()=>{
      clientHeight = videoRef.getBoundingClientRect().height;
    },0)
  }
</script>

<div
  class="s-container"
  style={`height: ${windowHeight + (isMobile ? titleHeight + 40 : 0)}px`}
>
  <div class="s-title" bind:clientHeight={titleHeight}>
    {$text("CLIP_OF_THE_DAY")}
  </div>
  <div
    class="s-videoContainer"
    bind:offsetHeight={clientHeight}
    bind:offsetWidth={clientWidth}
    bind:this={containerRef}
    class:animationPrev
    class:animationNext
    on:animationend={resetAnimation}
  >
    <div
      class="s-video"
      id="playerContainer"
      bind:this={videoRef}
    >
      <Video
        {clientHeight}
        {clientWidth}
        {isMobile}
        bind:videoIsPlaying
        bind:videoMakeFullscreen
        {activeIndex}
      />
    </div>
  </div>
  <div class="s-fondText">
    {$text("SEE_CLIP")}
  </div>
  <Social />
  {#if window.videoArchive.length -1 > activeIndex}
  <div class="s-prevClip" on:click={nextClip} style={windowWidth > 600 ? `left:${clientWidth/2 - clientHeight*0.3}px` : ''}><ArrowLeft/></div>
  {/if}
  {#if activeIndex>0}
  <div class="s-nextClip" on:click={prevClicp} style={windowWidth > 600 ? `right:${clientWidth/2 - clientHeight*0.3}px`: ''}><ArrowRight/></div>

  {/if}
</div>
<svelte:window bind:innerHeight={windowHeight} bind:innerWidth={windowWidth} />

<style>
  .s-nextClip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30rem;
    right: 1.5rem;
    cursor: pointer;
  }
  .s-prevClip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30rem;
    left: 1.5rem;
    cursor: pointer;
  }

  .s-fondText {
    margin-top: 24rem;
    font-size: 24rem;
    text-align: center;
    margin-bottom: 0;
    font-family: "Brandbe";
    font-weight: 400;
  }
  .s-container {
    overflow-x: hidden;
    background-color: #171f2c;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* max-height: 100vh;
    min-height: 100vh; */
    /* overflow-y: auto; */
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: rgba(152, 163, 168, 0.2) transparent;
    padding: 50rem 50rem 30rem 50rem;
    box-sizing: border-box;
    position: relative;
  }
  
  .s-title {
    font-weight: 300;
    font-size: 54rem;
    color: white;
    margin-bottom: 32rem;
    text-align: center;
  }
  .s-videoContainer {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
  }
  .s-video {
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    /* padding-top: 177%; */
  }

  @media only screen and (max-width: 834px) {

    .s-title {
      font-size: 38rem;
      margin-bottom: 14rem;
    }

    .s-container {
      padding: 30rem;
    }
    .s-fondText {
      font-size: 14rem;
    }

  }
  .animationPrev{
    animation: animationPrev 0.5s linear forwards;
  }
  .animationNext{
    animation: animationNext 0.5s linear forwards;
  }
  @keyframes animationPrev{
    0%{
      transform: translateX(0%);
      opacity: 1;
    }
    50%{
      transform: translateX(-100%);
      opacity: 0;
    }
    50.1%{
      transform: translateX(100%);
      opacity: 0;
    }
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes animationNext{
    0%{
      transform: translateX(0%);
      opacity: 1;
    }
    50%{
      transform: translateX(100%);
      opacity: 0;
    }
    50.1%{
      transform: translateX(-100%);
      opacity: 0;
    }
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
  }
</style>
