<script>
    import Vk from "../icons/Vk.svelte";
    import Fb from "../icons/Fb.svelte";
    import Tg from "../icons/Tg.svelte";
    import Ok from "../icons/Ok.svelte";
    import Download from '../icons/Download.svelte'
    import Twitter from "../icons/Twitter.svelte";
    import Link from "../icons/Link.svelte";
    import { copyTextToClipboard } from "../helpers";
    import { fly } from "svelte/transition";
    import {  text } from "../store";
    import {sendMetrik} from '../helpers'

    let copied = false;
    let copiedTimeout;
    let copyRef;
    $: itemLink = encodeURIComponent(
      `https://devyataev.film/#flashmob`
    );
    const copy = () => {
      sendMetrik('Share', {'Devytaev.ShareType': 'copy'})
      copyTextToClipboard(`https://devyataev.film/#flashmob`);
      copied = true;
      clearTimeout(copiedTimeout);
      copiedTimeout = setTimeout(() => (copied = false), 2000);
    };
    $: if (copied && copyRef) {
      document.body.appendChild(copyRef);
    } else if (!copied && copyRef) {
      try {
        document.body.removeChild(copyRef);
      } catch (err) {}
    }
    const onSocialShare = (type)=>{
      sendMetrik('Share', {'Devytaev.ShareType': type})
    }
  </script>
  
  <div class="s-icons">
    <a  target="blank" href="https://screenlife.tech/devyataev/download.php" ><Download/></a>
    <a
    on:click={()=>onSocialShare('vk')}
      href={`https://vk.com/share.php?url=${itemLink}&utm_source=share2`}
      target="_blank"><Vk /></a
    >
    <a
    on:click={()=>onSocialShare(fb)}
      href={`https://www.facebook.com/sharer.php?src=sp&u=${itemLink}&utm_source=share2`}
      target="_blank"><Fb /></a
    >
    <a
    on:click={()=>onSocialShare('tg')}
      href={`https://t.me/share/url?url=${itemLink}&utm_source=share2`}
      target="_blank"><Tg /></a
    >
    <a
    on:click={()=>onSocialShare('ok')}
      href={`https://connect.ok.ru/offer?url=${itemLink}&utm_source=share2`}
      target="_blank"><Ok /></a
    >
    <a
    on:click={()=>onSocialShare('twitter')}
      href={`https://twitter.com/intent/tweet?&url=${itemLink}&utm_source=share2`}
      target="_blank"><Twitter /></a
    >
    <div on:click={copy} class="s-copyButton"><Link/></div>
  </div>
  
  <div bind:this={copyRef}>
    {#if copied}
      <div class="s-copied" transition:fly|local={{ y: 40, duration: 300 }}>
        {$text('COPIED')}
      </div>
    {/if}
  </div>
  
  <style>
      .s-title {
    font-size: 24rem;
    font-weight: 400;
    color: #b59975;
    
    margin-top: 16px;

  }
      .s-copyButton{
          cursor: pointer;
          padding: 16px;
      }
   
    .s-icons {
      display: flex;
      align-items: center;
    }
    .s-icons a {
      padding: 16px;
    }
  
    .s-copied {
      position: fixed;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      padding: 8px 16px;
      background-color: white;
      color: black;
      font-size: 16px;
      border-radius: 8px;
      z-index: 99991;
    }
    @media only screen and (max-width: 834px) {
        .s-icons a {
      padding: 8px;
    }
      .s-copyButton{
        padding: 8px;
        
      }
      .s-icons{
          margin-top: 16rem;
      }
      .s-title{
        font-size: 14rem;
      }
    }
  </style>
  