<script>
  import { isIos, BASE_URL } from "./utils.js";
  import "fullscreen-api-polyfill";
  import { onMount } from "svelte";

  import { sendMetrik } from "../helpers";
  import Charity from './Charity/App.svelte'

  export let clientHeight;
  export let clientWidth;
  export let videoIsPlaying;
  export let videoMakeFullscreen;
  export let isMobile;
  export let activeIndex;

  let charityVariant = Math.random() < 0.5;
  sendMetrik('DailyVideo', {'Devytaev.PlayerType': charityVariant ? 'Button' : 'Player'})

  let myPlayer;
  let firstPlay = true;
  const onCanplaythrough = () => {};
  const onPlay = () => {
    if(firstPlay && !charityVariant){
      sendMetrik("DailyClipPlay");
    }
    firstPlay = false
    videoIsPlaying = true;
    setTimeout(() => {
      videoMakeFullscreen = true;
    }, 0);
  };
  const onPause = () => {
    videoIsPlaying = false;
    videoMakeFullscreen = false;
  };

  let prevMetrikSec = null;
  const onTimeUpdate = () => {
    if(charityVariant) {
      return
    }
    const currentTime = myPlayer.currentTime();
    if (Math.round(currentTime) !== prevMetrikSec) {
      prevMetrikSec = Math.round(currentTime);
      sendMetrik("VideoWatch", { "Devytaev.WatchSecond": prevMetrikSec });
    }
  };

  const init = () => {
    if (!window.amp || !clientHeight) {
      return setTimeout(init, 10);
    }

    myPlayer = window.amp(
      "player",
      {
        nativeControlsForTouch: false,
        autoplay: false,
        // muted: true,
        height: clientHeight,
        width: clientHeight * 0.2,
        controls: charityVariant ? false : true,
        // fluid: true,
        poster: window.window.videoArchive[activeIndex].poster,
        logo: { enabled: false },
      },
      function () {
        window.azure = myPlayer;

        this.removeEventListener("canplaythrough", onCanplaythrough);
        this.addEventListener("canplaythrough", onCanplaythrough);

        this.removeEventListener("play", onPlay);
        this.addEventListener("play", onPlay);

        this.removeEventListener("pause", onPause);
        this.addEventListener("pause", onPause);

        this.removeEventListener("timeupdate", onTimeUpdate);
        this.addEventListener("timeupdate", onTimeUpdate);
      }
    );
    myPlayer.src([
      {
        src: `${window.videoArchive[activeIndex].src}(format=m3u8-aapl,audio-only=false)`,
        type: "application/vnd.ms-sstr+xml",
      },
    ]);
    window.azure = myPlayer;
  };
  onMount(() => {
    window.addEventListener(
      "pageshow",
      () => {
        if (
          window.performance.navigation.type ===
          window.performance.navigation.TYPE_BACK_FORWARD
        ) {
          init();
        }
      },
      false
    );
    init();
  });
  $: if (myPlayer) {
    myPlayer.height(clientHeight);
    myPlayer.width(clientWidth);
  }
  $: if (myPlayer && activeIndex !== null) {
    myPlayer.src([
      {
        src: `${window.videoArchive[activeIndex].src}(format=m3u8-aapl,audio-only=false)`,
        type: "application/vnd.ms-sstr+xml",
      },
    ]);
    myPlayer.poster(window.window.videoArchive[activeIndex].poster);
  }
</script>

<!-- svelte-ignore a11y-media-has-caption -->
<video
  id="player"
  class="azuremediaplayer amp-default-skin"
  playsinline
  preload="metadata"
  class:videoIsPlaying
/>
{#if charityVariant}
  <Charity {clientWidth} {myPlayer} {videoIsPlaying} {isMobile}/>
{/if}
<style>
  /* .azuremediaplayer :globl(video){
    visibility: hidden;
  }
    .videoIsPlaying :globl(video){
    visibility:visible;
  } */
</style>
