<script>
  import { fade } from "svelte/transition";
  import { onMount } from "svelte";
  import Close from "../icons/Close.svelte";
  export let isOpen = true;
  let popupRef;
  onMount(() => {
    document.body.appendChild(popupRef);
  });
  const close = () => {
    isOpen = false;
  };
</script>

<div bind:this={popupRef}>
  {#if isOpen}
    <div
      class="s-overlay"
      transition:fade|local={{ duration: 200 }}
      on:click={close}
    >
      <div class="s-content" on:click|stopPropagation>
        <div class="s-card">
          <div class="s-title">Голосуй и получи подарки</div>
          <div class="s-gifts">
            <div class="s-gift">
              <img src="https://devyataev.film/wp-content/themes/devyataev_new/flashmob/img/gift1.png" alt="gift" />
              <div class="s-giftTitle">Постер</div>
            </div>
            <div class="s-gift">
              <img src="https://devyataev.film/wp-content/themes/devyataev_new/flashmob/img/gift3.png" alt="gift" />
              <div class="s-giftTitle">Худи</div>
            </div>
            <div class="s-gift">
              <img src="https://devyataev.film/wp-content/themes/devyataev_new/flashmob/img/gift2.png" alt="gift" />
              <div class="s-giftTitle">Футболка</div>
            </div>
            <div class="s-gift">
              <img src="https://devyataev.film/wp-content/themes/devyataev_new/flashmob/img/gift4.png" alt="gift" />
              <div class="s-giftTitle">Самолет</div>
            </div>
          </div>
        </div>
      </div>

      <div class="s-close" on:click={close}><Close /></div>
    </div>
  {/if}
</div>

<style>
  .s-giftTitle {
    font-size: 36rem;
    margin-top: 24rem;
  }
  .s-gift {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .s-gift img {
    width: 200rem;
  }
  .s-gifts {
    display: flex;
  }
  .s-title {
    font-size: 64rem;
    text-align: center;
    margin-bottom: 50rem;
  }
  .s-content {
    display: flex;
  }
  .s-close {
    padding: 16px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .s-overlay {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 17, 15, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
  }
  .s-content {
    display: flex;
  }
  .s-card {
    background-color: #171f2c;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 50rem 100rem;
  }
  @media only screen and (max-width: 834px) {
    .s-overlay {
      overflow: auto;
      display: initial;
      align-items: initial;
      justify-content: initial;
    }
    .s-content {
      flex-direction: column;
      width: 100%;
    }
    .s-card {
      min-width: 100%;
      margin: 0;
      border-radius: 0;
      padding: 16rem;
      box-sizing: border-box;
      height: 100vh;
    }
    .s-gifts {
      flex-wrap: wrap;
      justify-content: center;
    }
    .s-title{
        margin-top: 50rem;
        font-size: 30rem;
    }
    .s-giftTitle{
        font-size: 24rem;
    margin-top: 16rem;
    }
    .s-gift img{
        width: 140rem;
    }
  }
</style>
