<script>
  import { text } from "../store";
  import { sendMetrik } from "../helpers";
  import Heart from "./Heart.svelte";
  import Vk from "./icons/Vk.svelte";
  import Fb from "./icons/Fb.svelte";
  import Instagram from "./icons/Instagram.svelte";
  import Ok from "./icons/Ok.svelte";
  import TikTok from "./icons/TikTok.svelte";
  import Sandler from "./icons/Sandler.svelte";
  import Vtb from "./icons/Vtb.svelte";
  import Bazelevs from "./icons/Bazelevs.svelte";
  import Gifts from "./Gifts.svelte";
  const onBackingTrack = () => {
    sendMetrik("BackingTrackDownload");
  };
  let isGiftsOpen = false;
</script>

<div class="s-container">
  <div class="s-title">{$text("CLIP")}</div>
  <div class="s-rulesContainer">
    <div class="s-rulesPoints">
      <div class="s-point">
        <div class="s-number">1</div>
        <div class="s-pointText">
          {@html $text("POINT_1")}
          <span class="s-brown"
            >(<a
              on:click={onBackingTrack}
              href="https://www.dropbox.com/s/3kvywgdvqrtn2tp/LUBIMIY%20GOROD%20MINUS%20.mp3?dl=1"
              target="_blank">{$text("BACKING_TRACK")}</a
            >)</span
          >
        </div>
      </div>
      <div class="s-point" style="margin-bottom: 16rem;">
        <div class="s-number">2</div>
        <div class="s-pointText">
          {@html $text("POINT_2")}
        </div>
      </div>
      <div class="s-social"><Vk /><Fb /><Instagram /><TikTok /><Ok /></div>
      <div class="s-point">
        <div class="s-number">3</div>
        <div class="s-pointText">{@html $text("POINT_3")}</div>
      </div>
      <div class="s-point">
        <div class="s-number">4</div>
        <div class="s-pointText">Поделись ссылкой на видео с друзьями</div>
      </div>
    </div>

    <div class="s-pointText s-cta">
      Набирай голоса и ищи себя <a href="https://devyataev.film/#flashmob"
        >в клипе дня со звездами</a
      >, а также получай <span class="s-brown s-gift" on:click={()=>isGiftsOpen=true}>подарки</span> от нас!
    </div>
    <div class="s-title">Голосуй и получи подарок</div>
    <div class="s-rulesPoints">
      <div class="s-point">
        <div class="s-number">1</div>
        <div class="s-pointText">
          Проголосуй за понравившееся видео на <a
            href="https://devyataev.film/#video">сайте</a
          >
        </div>
      </div>
      <div class="s-point">
        <div class="s-number">2</div>
        <div class="s-pointText">
          Каждый день ты сможешь стать одним из 9 счастливчиков, которые получат <span class="s-brown s-gift" on:click={()=>isGiftsOpen=true}>подарки!</span>
        </div>
      </div>
    </div>

    <div class="s-credentials">
      <div class="s-fondLogo">
        <Vtb /><Bazelevs /><Sandler />
      </div>
      <div class="s-rulesDoc">
        <a
          target="_blank"
          href="https://devyataev.film/wp-content/themes/devyataev/flashmob/legal/rules.pdf"
          class="s-brown s-termsLink">{@html $text("CONDITIONS")}</a
        >
      </div>
    </div>
  </div>
</div>
<Gifts bind:isOpen={isGiftsOpen}/>

<style>
  .s-gift{
    cursor: pointer;
  }
  .s-cta {
    text-align: center;
    margin-top: 30rem;
    margin-bottom: 20rem;
  }
  .s-credentials {
    margin-top: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .s-rulesPoints {
    background-color: #171f2c;
    padding: 24rem 16rem;
    border-radius: 10rem;
  }
  .s-rulesDoc {
    text-transform: uppercase;
    font-size: 24rem;
    color: white;
    text-align: center;
    padding-bottom: 8rem;
  }
  .s-termsLink {
    margin: 16rem 4rem 4rem 4rem;
    display: inline-block;
  }

  .s-rulesContainer {
    margin-top: auto;
    margin-bottom: auto;
  }
  .s-fondLogo {
    height: 60rem;
    margin-bottom: 20rem;
    display: flex;
    justify-content: center;

    height: 40rem;
  }
  .s-fondLogo :global(svg) {
    margin: 0 16rem;
    height: 99%;
  }

  .s-social {
    margin-bottom: 16rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 45rem;
  }
  .s-social :global(svg) {
    margin: 0 8rem;
  }
  .s-brown {
    color: #b59975;
  }
  .s-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50rem 50rem 30rem 50rem;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: rgba(152, 163, 168, 0.2) transparent;
    background-color: #111622;
  }
  .s-container::-webkit-scrollbar {
    height: 0.375rem;
    width: 0.375rem;
    border-radius: 8px;
  }
  .s-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
  }
  .s-container::-webkit-scrollbar-thumb {
    background-color: rgba(152, 163, 168, 0.2);
    border-radius: 8px;
  }
  .s-container::-webkit-scrollbar-thumb:vertical {
    min-height: 32px;
  }
  .s-container::-webkit-scrollbar-thumb:horizontal {
    min-width: 32px;
  }

  .s-title {
    text-transform: uppercase;
    font-size: 54rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: 35rem;
    text-align: center;
  }

  .s-point {
    display: flex;
    align-items: center;
    margin-bottom: 30rem;
  }
  .s-point:last-child {
    margin-bottom: 0;
  }
  .s-alignCenter {
    align-items: center;
  }
  .s-pointText {
    /* text-transform: uppercase; */
    font-size: 20rem;
    font-weight: 400;
    font-family: "Fira Sans Extra Condensed";
    font-weight: 200;
  }
  .s-number {
    min-width: 36rem;
    min-height: 36rem;
    max-width: 36rem;
    max-height: 36rem;
    background-color: #b59975;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16rem;
    font-size: 24rem;
  }
  a {
    color: #b59975;
  }
  .s-luck {
    font-size: 40rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 16px;
  }
  .s-heart {
    display: flex;
    margin-top: 40rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  @media only screen and (max-width: 834px) {
    .s-title {
      font-size: 40rem;
    }
    .s-social :global(svg) {
      margin: 0 8rem;
      justify-content: center;
      margin-left: 0rem;
    }
    .s-subTitle {
      font-size: 30rem;
      margin-bottom: 24rem;
    }
    .s-container {
      max-height: initial;
      overflow-y: initial;
      min-height: initial;
      height: initial;
      padding: 30rem;
    }
    .s-luck {
      font-size: 40rem;
    }
    .s-number {
      min-width: 27rem;
      min-height: 27rem;
      max-width: 27rem;
      max-height: 27rem;
      margin-right: 18rem;
      font-size: 18rem;
    }
    .s-pointText {
      font-size: 17rem;
    }
    .s-luck {
      font-size: 30rem;
      margin-bottom: 30rem;
    }
    .s-heart {
      flex-direction: column;
    }
    .s-social :global(svg) {
      width: 24px;
    }
  }
</style>
