
<svg width="11" height="21" viewBox="0 0 11 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.25754 20.3444V10.171H10.0658L10.438 6.66521H7.25754L7.26231 4.91052C7.26231 3.99615 7.34918 3.50621 8.66248 3.50621H10.4181V0H7.60942C4.23572 0 3.04826 1.7007 3.04826 4.56073V6.66561H0.945312V10.1714H3.04826V20.3444H7.25754Z" fill="white"/>
    </svg>
    