
<svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.749289 9.66076C0.289539 10.5645 0.811539 10.9965 2.00254 11.7345C3.01504 12.36 4.41379 12.5888 5.31229 12.6803C4.94404 13.0343 6.63154 11.4113 1.77154 16.086C0.741039 17.0738 2.40004 18.6585 3.42979 17.6918L6.21754 15.003C7.28479 16.0298 8.30779 17.0138 9.00529 17.6955C10.0358 18.666 11.694 17.0948 10.6748 16.0898C10.5983 16.017 6.89704 12.4665 7.12279 12.684C8.03254 12.5925 9.41029 12.3503 10.4108 11.7383L10.41 11.7375C11.601 10.9958 12.123 10.5645 11.67 9.66076C11.3963 9.14777 10.6583 8.71877 9.67579 9.46052C9.67579 9.46052 8.34904 10.4768 6.20929 10.4768C4.06879 10.4768 2.74279 9.46052 2.74279 9.46052C1.76104 8.71502 1.02004 9.14777 0.749289 9.66076Z" fill="white"/>
    <path d="M6.20852 9.1065C8.81702 9.1065 10.947 7.068 10.947 4.5585C10.947 2.0385 8.81702 0 6.20852 0C3.59927 0 1.46927 2.0385 1.46927 4.5585C1.46927 7.068 3.59927 9.1065 6.20852 9.1065ZM6.20852 2.30925C7.49027 2.30925 8.53577 3.315 8.53577 4.5585C8.53577 5.7915 7.49027 6.79725 6.20852 6.79725C4.92677 6.79725 3.88127 5.7915 3.88127 4.5585C3.88052 3.31425 4.92602 2.30925 6.20852 2.30925Z" fill="white"/>
    </svg>
    