
<svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.28696 11.6509L7.95613 16.3042C8.42947 16.3042 8.63446 16.1009 8.8803 15.8567L11.0995 13.7359L15.6978 17.1034C16.5411 17.5734 17.1353 17.3259 17.3628 16.3276L20.3811 2.18422L20.382 2.18339C20.6495 0.93672 19.9311 0.44922 19.1095 0.755053L1.3678 7.54755C0.156964 8.01755 0.175297 8.69255 1.16196 8.99839L5.6978 10.4092L16.2336 3.81672C16.7295 3.48839 17.1803 3.67005 16.8095 3.99839L8.28696 11.6509Z" fill="white"/>
    </svg>
    