
<svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.99859 3.97944L9.03783 4.62648L8.38384 4.54725C6.00332 4.24354 3.92364 3.21356 2.15787 1.48373L1.29461 0.625411L1.07225 1.25924C0.601377 2.67216 0.902212 4.16431 1.88319 5.16788C2.40639 5.72248 2.28867 5.80171 1.38616 5.47159C1.07225 5.36595 0.797574 5.28672 0.771414 5.32634C0.679856 5.41877 0.99377 6.62041 1.24229 7.09579C1.58236 7.75603 2.27559 8.40307 3.03421 8.78601L3.67512 9.08972L2.9165 9.10293C2.18403 9.10293 2.15787 9.11613 2.23635 9.39343C2.49794 10.2517 3.53125 11.1629 4.68227 11.559L5.49321 11.8363L4.7869 12.2589C3.74052 12.8663 2.51102 13.2096 1.28153 13.236C0.692936 13.2492 0.208984 13.3021 0.208984 13.3417C0.208984 13.4737 1.80472 14.2132 2.73338 14.5037C5.51937 15.362 8.82855 14.9923 11.3137 13.5266C13.0795 12.4834 14.8452 10.4102 15.6693 8.40307C16.114 7.33348 16.5587 5.37916 16.5587 4.44161C16.5587 3.83419 16.5979 3.75496 17.3304 3.02869C17.762 2.60614 18.1675 2.14397 18.246 2.01192C18.3768 1.76103 18.3637 1.76103 17.6966 1.98551C16.5849 2.38166 16.4279 2.32884 16.9772 1.73462C17.3827 1.31206 17.8667 0.546182 17.8667 0.3217C17.8667 0.282085 17.6705 0.34811 17.4481 0.466953C17.2127 0.599002 16.6895 0.797074 16.2971 0.915918L15.5908 1.1404L14.9499 0.704641C14.5967 0.466953 14.0997 0.202856 13.8381 0.123627C13.171 -0.0612408 12.1508 -0.0348311 11.5491 0.176447C9.91417 0.770665 8.88087 2.30243 8.99859 3.97944Z" fill="white"/>
    </svg>
    