<svelte:head>
  <script src="https://widget.cloudpayments.ru/bundles/cloudpayments" async>

  </script>
  <style>
    /* @font-face {
      font-family: "corsica";
      src: url("https://az67128.gitlab.io/svelte-sunflower/assets/CorsicaRamblerLXnumber.ttf")
        format("truetype");
    } */
    .sunflowerApp {
      overflow: visible;
      opacity: 0;
      transition: opacity 0.3s;
    }
    .credentials {
      opacity: 0;
      transition: opacity 0.3s;
    }
    #sunflowerCharity {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>
</svelte:head>
