<script>
  import PressButton from "../assets/PressButton.svelte";
  import { fade } from "svelte/transition";
  import {
    amount,
    minimalAmount,
    intervalId,
    buttonStart,
    buttonEnd,
    isMobile
  } from "../store";
  window.addEventListener("scroll", function() {
    if ($intervalId) buttonEnd();
  });
  export let clientWidth;
  
</script>

<dic class="container" class:isAnimated={$intervalId}>
  <button
 

    on:contextmenu={e => {
      e.preventDefault();
      e.stopPropagation();
    }}
    on:pointerdown={buttonStart}
    
    on:pointerup={buttonEnd}
    
    on:pointerleave={buttonEnd}
    
    class="button wrapper container">
    <div class="wrapper">
      <div class="radius1" />
    </div>
    <div class="wrapper">
      <div class="radius2" />
    </div>
    <div class="wrapper">
      <div class="radius3" />
    </div>
    <div class="wrapper">
      <div class="radius4" />
    </div>
    {#if !$intervalId}
      <div class="wrapper pressButton" transition:fade|local>
        <PressButton height={clientWidth*0.01} />
      </div>
    {/if}

  </button>
</dic>

<style>
  .container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: visible;
    user-select: none;
    -webkit-user-select: none;
  }
  .container *{
    user-select: none;
    -webkit-user-select: none;
  }
  
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    user-select: none;
    background: transparent;
    border: none;
    outline: none;
    display: block;
    z-index: 5;
    cursor: pointer;
  }

  .radius1 {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(220, 65, 40, 1) 0%,
      rgba(253, 211, 42, 0) 91%
    );
    background-blend-mode: soft-light, normal;
    opacity: 0;
  }
  .radius2 {
    border-radius: 50%;
    width: 75%;
    height: 75%;
    background: linear-gradient(
        62.55deg,
        #000000 39.01%,
        rgba(0, 0, 0, 0) 76.23%
      ),
      #DC4128;
    background-blend-mode: soft-light, normal;
    transform: scale(1.15);
  }
  .radius3 {
    border-radius: 50%;
    width: 85%;
    height: 85%;
    border: 4px solid #DC4128;
    box-sizing: border-box;
    opacity: 0;
  }
  .radius4 {
    border-radius: 50%;
    width: 85%;
    height: 85%;
    border: 1px solid #DC4128;
    box-sizing: border-box;
    opacity: 0;
  }
  .container.isAnimated{
    opacity: 0.5;
  }

  .container.isAnimated .radius1 {
    animation: radius1 1.2s ease-in-out infinite both;
  }
  .container.isAnimated .radius2 {
    animation: radius2 1.2s ease-in-out infinite both;
  }
  .container.isAnimated .radius3 {
    animation: radius3 1.2s ease-in-out infinite both;
  }
  .container.isAnimated .radius4 {
    animation: radius4 1.2s ease-in-out infinite both;
  }
  @keyframes radius1 {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    50% {
      transform: scale(1.3);
      opacity: 1;
    }
    85% {
      transform: scale(1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes radius2 {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes radius3 {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes radius4 {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    50% {
      transform: scale(1.3);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
</style>
