html {
  font-size: 0.06536vw;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: "Brandbe", sans-serif;
  font-size: 16rem;
  min-width: 320px;
  position: relative;
  line-height: 1;
  overflow-x: hidden;
  color: #fff;
  font-family: "Brandbe", sans-serif;
  font-weight: 400;
  /* background-color: #0f131e; */
  /* background-image: url(./img/bg.jpeg);  */
  background-size: cover;
}

@font-face {
  font-family: "Brandbe";
  src: url("./fonts/Brandbe-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Brandbe";
  src: url("./fonts/Brandbe-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Brandbe";
  src: url("./fonts/Brandbe-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@media only screen and (max-width: 834px) {
  html {
    font-size: 0.2125vw;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 0.3125vw;
  }
}

body {
   
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: rgba(152, 163, 168, 0.2) transparent;
  }
  body::-webkit-scrollbar {
    height: 0.375rem;
    width: 0.375rem;
    border-radius: 8px;
  }
  body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(152, 163, 168, 0.2);
    border-radius: 8px;
  }
  body::-webkit-scrollbar-thumb:vertical {
    min-height: 32px;
  }
  body::-webkit-scrollbar-thumb:horizontal {
    min-width: 32px;
  }




#playerContainer{
	/* max-height: 100vh;
	max-width: 40.2vh; */
	margin: 0 auto;
	
}
#playerContainer .vjs-big-play-button {
	border: none;
    background: white;
	width: 80px;
    height: 80px;
    border-radius: 50%;
}
#playerContainer .vjs-big-play-button::before{
	font-size: 54px;
	color:white;
}

#playerContainer .vjs-big-play-button::before {
	text-shadow: none;
}
#playerContainer .vjs-control-bar{
	border-radius: 12px;
    background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
	right: 12px;
    left: 12px;
	bottom: 12px;
	width: -webkit-calc(100% - 25px);
	width: calc(100% - 24px);
	padding: 2px 16px;
	height: 48px;
}
#playerContainer .vjs-progress-control{
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	height: 26px;
	border-radius: 5px;
    overflow: hidden;
}
#playerContainer .vjs-progress-holder{
	background: rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(120px);
	-webkit-backdrop-filter: blur(120px);
}
#playerContainer .vjs-play-progress.vjs-slider-bar {
	background-color: #FF1C1C;
	background: #FF1C1C;
}
#playerContainer .vjs-slider-handle {
	display: none;
}


#playerContainer .vjs-current-time{
	top: 8px;
	position: absolute;
    z-index: 1;
    left: 15px;
	right: inherit;
	user-select: none;
	cursor: pointer;
}
#playerContainer .vjs-time-control.vjs-time-divider{
	top: 8px;
	position: absolute;
	left: 35px;
	user-select: none;
	cursor: pointer;
}
#playerContainer .vjs-duration{
	top: 8px;
	position: absolute;
	left: 44px;
	user-select: none;
	cursor: pointer;
}
#playerContainer .amp-controlbaricons-middle{
	position: relative;
}

#playerContainer .amp-controlbaricons-left{
	padding-right: 8px;
}
#playerContainer .amp-controlbaricons-right{
	padding-left: 8px;
}

/* controls */
#playerContainer .vjs-fullscreen-control::before{
	/* background-image: url(./images/fullscreen.svg); */
	background-size: contain;
    color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center;
}
/* controls */

/* menu */
#playerContainer .vjs-volume-control .vjs-menu-content{
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(120px);
	-webkit-backdrop-filter: blur(120px);
	border-radius: 8px;
}
#playerContainer .vjs-volume-control .vjs-volume-level{
	background-color: #FF1C1C;
	background: #FF1C1C;
}
#playerContainer .amp-quality-control .vjs-menu-content{
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(120px);
	-webkit-backdrop-filter: blur(120px);
	border-radius: 8px;
}
/* menu */

#playerContainer .vjs-mouse-display{
	display:none;
}

#playerContainer .vjs-fluid.vjs-user-inactive{
	height:100%;
}
/* 
#playerContainer .vjs-poster{
	position: fixed;
}

#playerContainer .vjs-poster img{
	filter: brightness(0.5);
} */
#playerContainer .azuremediaplayer{
  background-color: transparent;
  min-height: 100%;
}
#playerContainer .azuremediaplayer{
  /* pointer-events: none; */
}
#playerContainer .vjs-big-play-button{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #DC4128;
}