<script>

  import PulseButton from "./components/PulseButton.svelte";
  import Amount from "./components/Amount.svelte";
  // import AudioFiles from "./components/AudioFiles.svelte";
  import HeadFiles from "./components/HeadFiles.svelte";
  import "./helpers/points";
  // import { sayHelloIfVisible, playSound } from "./helpers";
  import { amount } from "./store";

  let appRef = null;
  export let clientWidth;
  export let myPlayer
  export let videoIsPlaying;
  export let isMobile
  // $: {
  //   if (appRef) sayHelloIfVisible(appRef, y);
  // }
  const handleVisibilityChange = () => {
    $amount = 0;
  };
  window.addEventListener("blur", handleVisibilityChange, false);
  // document.body.addEventListener("click", ()=>{
  //   if($amount === 0) {
  //     console.log('unlock')
  //     playSound(null)
  //   }
  // }, false);
  let style=""
  // $: if(videoIsPlaying && appRef && isMobile){
  //   const {top, left, width} = appRef.getBoundingClientRect()
  //   style = `position:fixed; bottom:initial; top:${top}px; left:${left }px; width:${width}px;  transform:initial;`
  // }
</script>

<div class="sunflowerApp" bind:this={appRef} style={videoIsPlaying?style:''}>

  <Amount {clientWidth}/>

  <PulseButton {clientWidth} {myPlayer}/>
  <!-- <AudioFiles /> -->
</div>


<HeadFiles />

<style>
  .sunflowerApp {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    /* height: 70%; */
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "corsica", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: #191919;
    -webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
  }
  .sunflowerApp :global(*){
    -webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
  }
  @media only screen and (max-width: 834px) {
    .sunflowerApp{
      width: 45%;
    }
  }
 
</style>
