<script>
  
  import Vk from "../icons/Vk.svelte";
  import Fb from "../icons/Fb.svelte";
  import Ok from "../icons/Ok.svelte";
  import {sendMetrik} from '../helpers'
  const {BACKEND_URL} = window
  export let item


  const onAuth = (link)=>{
    localStorage.setItem("participant", item.id);
    localStorage.setItem("proceedVote", 'true')
    sendMetrik('AuthClick')
    window.top.location.href = link; 
  }
</script>

<div class="s-content" on:click|stopPropagation>
  <div class="s-title">авторизироваться через соц. сеть</div>
  <div
    on:click={()=>onAuth(`${BACKEND_URL}/api/auth/login/vk-oauth2/`)}
    class="s-vk s-auth"><Vk /><div>Войти с помощью Вконтакте</div></div
  >
  <div
  on:click={()=>onAuth(`${BACKEND_URL}/api/auth/login/facebook/`)}
    
    class="s-fb s-auth"><Fb /><div>Войти с помощью Facebook</div></div
  >
  <div
  on:click={()=>onAuth(`${BACKEND_URL}/api/auth/login/odnoklassniki-oauth2/`)}
    class="s-ok s-auth"><Ok /><div>Войти с помощью Одноклассники</div></div
  >
</div>

<style>
  .s-content {
    padding: 50rem 70rem;
    background-color: #1c2748;
    border-radius: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .s-title {
    font-size: 40rem;
    margin-bottom: 62rem;
    text-transform: uppercase;
    text-align: center;
  }
  .s-auth {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    text-decoration: none;
    width: 80%;
    padding: 12rem;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 2px;
    margin-bottom: 12rem;
    font-size: 14rem;
    cursor: pointer;
  }
  .s-auth div{
      flex-grow: 1;
  }
  .s-vk {
    background-color: #4388ed;
  }
  .s-fb{
    background-color: #2553B4;
  }
  .s-ok{
    background-color: #F7931E;
  }
  @media only screen and (max-width: 834px) {
    .s-title{
      font-size: 32rem;
    } 
       .s-content {
      padding: 32rem 16rem;
      position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    box-sizing: border-box;
    }
  }
</style>
