<script>
    export let size;
    const id = Math.random();
</script>
<svg style={size? `width:${size}px`: ''} viewBox="0 0 65 54" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter={`url(#filter${id}_i)`}>
    <path
      d="M46.5696 0.00126237C41.1473 -0.0278152 35.9926 2.36176 32.4999 6.52364C29.0291 2.33331 23.8601 -0.0630559 18.4303 0.00126237C8.25148 0.00126237 0 8.28126 0 18.4952C0 35.9987 30.443 53.089 31.6772 53.7496C32.1752 54.0835 32.8247 54.0835 33.3228 53.7496C34.557 53.089 65 36.2463 65 18.4952C65 8.28126 56.7484 0.00126237 46.5696 0.00126237Z"
      fill="#DC4128"
    />
    <path
      d="M46.5696 0.00126237C41.1473 -0.0278152 35.9926 2.36176 32.4999 6.52364C29.0291 2.33331 23.8601 -0.0630559 18.4303 0.00126237C8.25148 0.00126237 0 8.28126 0 18.4952C0 35.9987 30.443 53.089 31.6772 53.7496C32.1752 54.0835 32.8247 54.0835 33.3228 53.7496C34.557 53.089 65 36.2463 65 18.4952C65 8.28126 56.7484 0.00126237 46.5696 0.00126237Z"
      fill={`url(#paint${id}_linear)`}
      style="mix-blend-mode:overlay"
    />
  </g>
  <path
    d="M46.5642 1.00126H46.5696C56.1928 1.00126 64 8.8303 64 18.4952C64 22.6486 62.2159 26.829 59.406 30.8243C56.6009 34.813 52.8273 38.5399 48.9816 41.7651C41.2901 48.2156 33.4369 52.5542 32.8509 52.8679L32.8072 52.8913L32.766 52.9189C32.6047 53.0271 32.3951 53.027 32.2342 52.919L32.1929 52.8913L32.1491 52.8679C31.5685 52.5572 23.714 48.1568 16.0201 41.6738C12.1736 38.4325 8.39907 34.6971 5.5932 30.7187C2.78185 26.7326 1 22.584 1 18.4952C1 8.83029 8.80701 1.00126 18.4303 1.00126V1.00133L18.4421 1.00119C23.5692 0.940459 28.4511 3.2032 31.7298 7.16154L32.4949 8.08523L33.2659 7.16648C36.5679 3.23191 41.4401 0.973769 46.5642 1.00126Z"
    stroke="#DB3621"
    stroke-width="2"
  />
  <defs>
    <filter
      id={`filter${id}_i`}
      x="0"
      y="0"
      width="65"
      height="54"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset />
      <feGaussianBlur stdDeviation="10" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.83 0"
      />
      <feBlend mode="overlay" in2="shape" result="effect1_innerShadow" />
    </filter>
    <linearGradient
      id={`paint${id}_linear`}
      x1="32.5"
      y1="0"
      x2="32.5"
      y2="54"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" stop-opacity="0.46" />
      <stop offset="1" stop-color="white" stop-opacity="0" />
    </linearGradient>
  </defs>
</svg>

<style>
  svg {
    width: 44rem;
  }
  @media only screen and (max-width: 834px) {
    svg {
      width: 33rem;
    }
  }
</style>
