<script>
  import { text } from "../store";
  import Participants from "./Participants.svelte";
  import {sendMetrik} from '../helpers'
  let sortByLikes = true;
  let participants = [];
  const toggleSort = () => {
    sortByLikes = !sortByLikes;
    sendMetrik('SortClick', {'Devytaev.SortDirection': sortByLikes ? 'likes':'dates'})
  };
  const wheel = (e) => {
    e.stopPropagation();
  };
  let searchString;
</script>

<div class="s-container" on:wheel|stopPropagation={wheel} id="video">
  <div class="s-stiky">
    <div class="s-header">
      <div class="s-title">голосуй за участников!</div>
      {#if participants.length}
      <div class="s-searchContainer"><input class="s-search" bind:value={searchString} placeholder={$text('SEARCH')}/></div>
        <div class="s-sort" on:click={toggleSort}>
          {$text("SORT_BY")}&nbsp;<span class="s-sortType"
            >{sortByLikes ? $text("POPULARITY") : $text("DATE")}</span
          >&nbsp;&nbsp;<span class="s-sortDirection">v</span>
        </div>
      {/if}
    </div>
  </div>
  <Participants {sortByLikes} bind:participants {searchString}/>
</div>

<style>
  .s-searchContainer{
    flex-grow: 1;
    margin: 0 40rem;
    padding-bottom: 10rem;
  }
  .s-search{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #b59975;
    font-size: 24rem;
    caret-color: #b59975;
    color: #b59975;
    width: 100%;
    box-sizing: border-box;
    font-family: Brandbe;
  }
  .s-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 46rem;
    align-items: flex-end;
  }
  .s-stiky {
    /* position: sticky;
    top:0.375rem; */
    background-color: #0e121c;
    z-index: 1;
    padding-top: 50rem;
  }
  .s-container {
    background: #0e121c;
    /* height: 100vh;
    max-height: 100%;
    overflow-y: auto; */
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: thin;
    scrollbar-color: rgba(152, 163, 168, 0.2) transparent;
    padding: 0rem 50rem 30rem 50rem;
    box-sizing: border-box;
  }
  .s-container::-webkit-scrollbar {
    height: 0.375rem;
    width: 0.375rem;
    border-radius: 8px;
  }
  .s-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
  }
  .s-container::-webkit-scrollbar-thumb {
    background-color: rgba(152, 163, 168, 0.2);
    border-radius: 8px;
  }
  .s-container::-webkit-scrollbar-thumb:vertical {
    min-height: 32px;
  }
  .s-container::-webkit-scrollbar-thumb:horizontal {
    min-width: 32px;
  }
  .s-title {
    text-transform: uppercase;
    font-size: 54rem;
    font-weight: 300;
    
  }
  .s-sort {
    font-size: 24rem;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10rem;
    
  }
  .s-sortType {
    text-decoration: underline;
    color: #b59975;
  }
  .s-sortDirection {
    font-size: 14rem;
    color: #b59975;
  }
  @media only screen and (max-width: 834px) {
    .s-title {
      font-size: 40rem;
      text-align: center;
      margin-bottom: 30rem;
    }
    .s-container {
      max-height: initial;
      overflow-y: initial;
      min-height: initial;
      height: initial;
      padding: 12rem;
    }
    .s-sort {
      
      justify-content: center;
    }
    .s-header{
      flex-direction: column;
    align-items: center;
    margin-bottom: 20rem;
    }
    .s-searchContainer{
      margin: 0;
      padding-bottom: 20rem;
      width: 77%;
    }
  }
</style>
