<script>
  import {onMount} from 'svelte'
  import { user, text } from "../store";
  import { fade } from "svelte/transition";
  import {sendMetrik} from '../helpers'
  import Heart from "./Heart.svelte";
  import Close from "../icons/Close.svelte";
  import Social from "./Social.svelte";
  import Video from "./Video.svelte";
  import Auth from "./Auth.svelte";

  const {BACKEND_URL} = window

  export let item;
  let popupRef;
  let showAuth = false;
  let justVoted = false;
  onMount(()=>{
    document.body.appendChild(popupRef);
  })

  const vote = () => {
    if (justVoted || item.voted) {
      return;
    }
    if (!$user) {
      showAuth = true;
      sendMetrik('VoteWithoutAuth')
    } else {
      justVoted = true;
      item.voted = true;
      item.likes = item.likes+1;
      fetch(
        `${BACKEND_URL}/api/v1/${item.id}/like/`,
        {credentials: 'include', method:'POST'}
      )
        .then((res) => res.json())
        .then((data) => console.log(data))
        .catch((err) => console.log(err));
    }
  };
  const close = () => {
    if (showAuth) {
      showAuth = false;
    } else {
      showAuth = false;
      item = null;
    }
  };
  $: if ($user && item) {
    if (localStorage.getItem("proceedVote")) {
      vote();
    }
    localStorage.removeItem("proceedVote");
  }
  $: if (!item) {
    justVoted = false;
  }
</script>
<div bind:this={popupRef}>
{#if item}
  <div
    class="s-overlay"
    transition:fade|local={{ duration: 200 }}
    on:click={close}
  >
    {#if showAuth}
      <Auth {item} />
    {:else}
      <div class="s-content" on:click|stopPropagation>
        <div class="s-card">
          <div class="s-info">
            <div class="s-name">{item.author_name}</div>
            <div
              class="s-vote"
              on:click|stopPropagation={vote}
              class:voted={item.voted}
            >
              {#if justVoted}
                {$text('YOU_VOTED')}
              {:else if item.voted}
              {$text('YOU_ALREADY_VOTED')}
              {:else}
              {$text('VOTE')}
              {/if}

              <div class="s-heart">
                <Heart size={88} />
                <div class="s-likes">{item.likes}</div>
              </div>
            </div>
          </div>
          <div class="s-social s-socialDesktop">
            <Social {item} />
          </div>
        </div>
        <div class="s-video">
          <Video {item} />
        </div>
        <div class="s-social s-socialMobile">
          <Social {item} />
        </div>
      </div>
    {/if}

    <div class="s-close" on:click={close}><Close /></div>
  </div>
{/if}
</div>
<style>
  .s-content {
    display: flex;
  }
  .s-close {
    padding: 16px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .s-overlay {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 17, 15, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
  }
  .s-name {
    color: white;
    font-size: 40px;
    margin-bottom: 32px;
  }
  .s-card {
    background-color: #11141f;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    min-width: 400px;
    /* min-height: 80vh; */
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .s-vote {
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #000000;
    padding: 12px 48px;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }

  .s-heart {
    position: absolute;
    right: -50px;
    top: -10px;
  }
  .s-likes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  .s-social {
    background-color: #1c2748;
    width: 100%;
    border-bottom-left-radius: 20px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .s-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 32px;
  }
  .s-socialMobile {
    display: none;
  }

  .voted {
    background-color: #1c2748;
    color: white;
  }
  @media only screen and (max-width: 834px) {
    .s-overlay {
      overflow: auto;
      display: initial;
      align-items: initial;
      justify-content: initial;
    }
    .s-content {
      flex-direction: column;
      width: 100%;
    }
    .s-social {
      padding: 16px 8px;
    }
    .s-info {
      padding: 24px 8px 32px 8px;
    }
    .s-card {
      min-width: 100%;
      margin: 0;
      border-radius: 0;
    }
    .s-socialDesktop {
      display: none;
    }
    .s-socialMobile {
      display: flex;
      border-bottom-left-radius: 0px;
    }
    .s-name {
      text-align: center;
      font-size: 24rem;
    }
    .s-vote {
      font-size: 20rem;
    }
    .s-video{
      background-color:#1c2748;
    }
  }
</style>
