<script>
  import Heart from "./Heart.svelte";
  import ParticipantCard from "./ParticipantCard.svelte";
  import {sendMetrik} from '../helpers'
  import {text} from '../store'
  const { BACKEND_URL } = window;

  export let sortByLikes;
  let selectedParticipant;
  export let participants = [];
  export let searchString = ''
  let limit = 10;
  let preselectedItem;
  let isLoading = false;

  if (localStorage.getItem("participant")) {
    preselectedItem = Number(localStorage.getItem("participant"));
  } else {
    const params = new URLSearchParams(window.location.search);
    const item = params.get("participant");
    if (item) {
      preselectedItem = Number(item);
    }
  }

  const getParticipants = () => {
    isLoading = true;
    fetch(
      `${BACKEND_URL}/api/v1/list/?limit=1000&ordering=${
        sortByLikes ? "-likes_cnt" : "-created_at"
      }`,
      { credentials: "include" }
    )
      .then((res) => res.json())
      .then((data) => {
        participants = data.results;
        if (preselectedItem) {
          const target = participants.find((item) => {
            return item.id === preselectedItem;
          });

          if (target) {
            selectedParticipant = target;
          }
        }
      })
      .finally(() => {
        isLoading = false;
      });
  };
  $: getParticipants(sortByLikes);

  const showMore = () => {
    limit += 10;
    sendMetrik('ShowMoreClick')
  };
  $: {
    const params = new URLSearchParams(window.location.search);
    if (selectedParticipant) {
      params.set("participant", selectedParticipant.id);
    } else {
      params.delete("participant");
      localStorage.removeItem("participant");
    }
    window.history.replaceState(null, null, params.toString() ? '?' + params.toString() + window.location.hash : '/'+window.location.hash);
  }
  const onParticipantClick = (item)=>{
    selectedParticipant = item
    sendMetrik('ParticipantClick')
  }
  searchString
  $: filtredParticipants = participants.filter((item=>{
    if(!searchString) return true;
    return item.author_name.toLowerCase().includes(searchString.toLowerCase())
  }))
</script>

  <div class="s-participants">
    {#each filtredParticipants.slice(0, limit) as item, i (item.id)}
      <div class="s-participant" on:click={() => onParticipantClick(item)}>
        <div
          class="s-cover"
          style={`background-image:url(${
            item.video_preview.startsWith('http') ? "": BACKEND_URL
          }${item.video_preview});`}
        >
        <div class="s-likes">
          <Heart />
          <div class="s-likesCount">{item.likes}</div>
        </div>
      </div>
        <div class="s-info">
          <div class="s-name">{item.author_name}</div>
          
        </div>
      </div>
    {/each}
    {#if filtredParticipants.length === 0 && searchString}
      <div class='s-nothinFound'>{$text('NOTHING_FOUND')}</div>
    {/if}
  </div>

{#if limit < filtredParticipants.length}
  <div class="s-showMore" on:click={showMore}><div class="s-showMoreText" >{$text('SHOW_MORE')}</div></div>
{/if}

<ParticipantCard bind:item={selectedParticipant} />

<style>
  .s-nothinFound{
    font-size: 32rem;
    color: white;
    margin: 40rem 0 300rem 0;
    text-align: center;
  }
  .s-beFirstText{
    margin-left: 16rem;
  }
    .s-beFirst{
      margin-top: 44rem;
    font-size: 34rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
  }
  .s-showMore {
   display: flex;
   justify-content: center;
   margin-top: 24rem;;
  }
  .s-showMoreText{
    color: white;
    background-color: #B59975;
    border-radius: 70rem;
    font-size: 20rem;
    padding: 16rem 0;
    text-align: center;
    cursor: pointer;
    min-width: 200rem;
  }
  .s-participants {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35rem -35rem 0;
    justify-content: center;
  }
  .s-participant {
    width: 20%;
    padding: 0 35rem 35rem 0;
    box-sizing: border-box;
    cursor: pointer;
  }
  .s-cover {
    width: 100%;
    padding-top: 170%;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    position: relative;
  }
  .s-likes {
    position: absolute;
    right: 16rem;
    bottom: 16rem;
  }
  .s-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 24rem;
  }
  .s-name {
    font-size: 24rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  .s-likesCount {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
    color: white;
    font-size: 20rem;
    font-weight: 700;
  }
  @media only screen and (max-width: 834px) {
    .s-participants {
      margin: 0 -12rem -12rem 0;
    }
    .s-participant {
      padding: 0 12rem 12rem 0;
      width: 33.33%;
    }
    .s-info {
      margin-top: 21rem;
    }
    .s-name {
      font-size: 18rem;
    }
    .s-likesCount {
      font-size: 15rem;
    }
  }
  @media only screen and (max-width: 500px) {
    .s-participant {
      padding: 0 12rem 12rem 0;
      width: 50%;
    }
  }
  @media only screen and (max-width: 400px) {
    .s-participant {
      padding: 0 12rem 12rem 0;
      width: 70%;
    }
  }
</style>
