<script>
  export let item = {};
</script>

{#if item.social_type === "instagram"}
  <iframe
    class="instagram-media instagram-media-rendered"
    
    src={`${item.post_url}embed/`}
    allowtransparency="true"
    allowfullscreen="true"
    frameborder="0"
    height="533"
    data-instgrm-payload-id="instagram-media-payload-0"
    scrolling="no"
  />
{:else if item.social_type === "vk"}
  <iframe src={item.post_url} height="533" frameborder="0" allowfullscreen />
{:else if item.social_type === "ok"}
  <iframe
    height="533"
    src={`//ok.ru/videoembed/${item.post_url.replace(
      "https://ok.ru/video/",
      ""
    )}`}
    frameborder="0"
    allow="autoplay"
    allowfullscreen
  />

{:else if item.social_type === 'tiktok'}
<iframe
    height="533"
    src={`https://www.tiktok.com/embed/v2/${item.post_url.split('/').slice(-1)[0]}?lang=ru-RU`}
    frameborder="0"
    allow="autoplay"
    allowfullscreen
  />

{/if}

<style>
  iframe {
    background: white;
    max-width: 540px;
    width: calc(100% - 2px);
    border-radius: 8px;
    
    box-shadow: none;
    display: block;
    margin: 0px 0px 0px;
    min-width: 326px;
    padding: 0px;
  }
  @media only screen and (max-width: 834px) {
    iframe {
    margin: 0 auto;
  }
  }
 
  
</style>
