
<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="36" height="36" rx="5" fill="#1C212B"/>
    <path d="M19.3122 28.3444V18.171H22.1205L22.4927 14.6652H19.3122L19.317 12.9105C19.317 11.9961 19.4039 11.5062 20.7172 11.5062H22.4728V8H19.6641C16.2904 8 15.1029 9.7007 15.1029 12.5607V14.6656H13V18.1714H15.1029V28.3444H19.3122Z" fill="white"/>
    </svg>
    