
<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="36" height="36" rx="5" fill="#1C212B"/>
    <g clip-path="url(#clip0)">
    <path d="M27.7517 14.103C27.7054 13 27.5355 12.2417 27.2921 11.5846C27.0411 10.8872 26.6549 10.2627 26.1489 9.74362C25.6545 9.21644 25.0559 8.8068 24.3993 8.54733C23.7699 8.29182 23.0515 8.11346 22.0011 8.06482C20.9428 8.01208 20.6068 7.99988 17.9226 7.99988C15.2385 7.99988 14.9025 8.01208 13.8481 8.06071C12.7976 8.10934 12.0755 8.28786 11.4498 8.54321C10.7854 8.8068 10.1907 9.21232 9.69635 9.74362C9.19428 10.2627 8.80429 10.8913 8.55703 11.5807C8.31369 12.2417 8.14381 12.9959 8.0975 14.0989C8.04726 15.2101 8.03564 15.5628 8.03564 18.3812C8.03564 21.1996 8.04726 21.5524 8.09358 22.6595C8.13989 23.7624 8.30991 24.5207 8.55326 25.1778C8.80429 25.8753 9.19428 26.4997 9.69635 27.0188C10.1907 27.546 10.7894 27.9556 11.4459 28.2151C12.0755 28.4706 12.7937 28.649 13.8443 28.6976C14.8986 28.7464 15.2347 28.7584 17.9189 28.7584C20.603 28.7584 20.939 28.7464 21.9934 28.6976C23.0438 28.649 23.766 28.4706 24.3916 28.2151C25.7203 27.6757 26.7708 26.5727 27.2845 25.1778C27.5276 24.5168 27.6977 23.7624 27.744 22.6595C27.7903 21.5524 27.8019 21.1996 27.8019 18.3812C27.8019 15.5628 27.798 15.2101 27.7517 14.103ZM25.9713 22.5784C25.9288 23.5922 25.7666 24.1396 25.6314 24.5046C25.2992 25.4089 24.6157 26.1267 23.7544 26.4755C23.4068 26.6174 22.8817 26.7877 21.9199 26.8322C20.8771 26.881 20.5644 26.893 17.9265 26.893C15.2887 26.893 14.972 26.881 13.933 26.8322C12.9675 26.7877 12.4461 26.6174 12.0985 26.4755C11.6699 26.3092 11.2798 26.0456 10.9631 25.7009C10.6349 25.3643 10.3838 24.9587 10.2254 24.5087C10.0903 24.1437 9.92807 23.5922 9.88568 22.5825C9.83922 21.4876 9.82775 21.159 9.82775 18.3893C9.82775 15.6196 9.83922 15.2871 9.88568 14.1963C9.92807 13.1825 10.0903 12.635 10.2254 12.27C10.3838 11.8199 10.6349 11.4104 10.9671 11.0777C11.2875 10.733 11.6737 10.4694 12.1025 10.3033C12.4501 10.1613 12.9754 9.99105 13.937 9.94638C14.9797 9.89775 15.2926 9.88555 17.9303 9.88555C20.5721 9.88555 20.8848 9.89775 21.9238 9.94638C22.8893 9.99105 23.4107 10.1613 23.7583 10.3033C24.1869 10.4694 24.5771 10.733 24.8937 11.0777C25.222 11.4143 25.473 11.8199 25.6314 12.27C25.7666 12.635 25.9288 13.1864 25.9713 14.1963C26.0177 15.2912 26.0293 15.6196 26.0293 18.3893C26.0293 21.159 26.0177 21.4835 25.9713 22.5784Z" fill="white"/>
    <path d="M17.9214 13.0486C15.1176 13.0486 12.8428 15.437 12.8428 18.3812C12.8428 21.3253 15.1176 23.7138 17.9214 23.7138C20.7254 23.7138 23.0001 21.3253 23.0001 18.3812C23.0001 15.437 20.7254 13.0486 17.9214 13.0486ZM17.9214 21.8403C16.1025 21.8403 14.627 20.2913 14.627 18.3812C14.627 16.4711 16.1025 14.9221 17.9214 14.9221C19.7406 14.9221 21.2158 16.4711 21.2158 18.3812C21.2158 20.2913 19.7406 21.8403 17.9214 21.8403Z" fill="white"/>
    <path d="M24.3875 12.8379C24.3875 13.5254 23.8567 14.0829 23.2018 14.0829C22.547 14.0829 22.0161 13.5254 22.0161 12.8379C22.0161 12.1503 22.547 11.593 23.2018 11.593C23.8567 11.593 24.3875 12.1503 24.3875 12.8379Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="19.7701" height="20.7586" fill="white" transform="translate(8 8)"/>
    </clipPath>
    </defs>
    </svg>
    