
<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="36" height="36" rx="5" fill="#1C212B"/>
    <g clip-path="url(#clip0)">
    <path d="M12.5402 18.6608C12.0805 19.5646 12.6025 19.9966 13.7935 20.7346C14.806 21.3601 16.2047 21.5888 17.1032 21.6803C16.735 22.0343 18.4225 20.4113 13.5625 25.0861C12.532 26.0738 14.191 27.6586 15.2207 26.6918L18.0085 24.0031C19.0757 25.0298 20.0987 26.0138 20.7962 26.6956C21.8267 27.6661 23.485 26.0948 22.4657 25.0898C22.3892 25.0171 18.688 21.4666 18.9137 21.6841C19.8235 21.5926 21.2012 21.3503 22.2017 20.7383L22.201 20.7376C23.392 19.9958 23.914 19.5646 23.461 18.6608C23.1872 18.1478 22.4492 17.7188 21.4667 18.4606C21.4667 18.4606 20.14 19.4768 18.0002 19.4768C15.8597 19.4768 14.5337 18.4606 14.5337 18.4606C13.552 17.7151 12.811 18.1478 12.5402 18.6608Z" fill="white"/>
    <path d="M17.9995 18.1065C20.608 18.1065 22.738 16.068 22.738 13.5585C22.738 11.0385 20.608 9 17.9995 9C15.3903 9 13.2603 11.0385 13.2603 13.5585C13.2603 16.068 15.3903 18.1065 17.9995 18.1065ZM17.9995 11.3093C19.2813 11.3093 20.3268 12.315 20.3268 13.5585C20.3268 14.7915 19.2813 15.7973 17.9995 15.7973C16.7178 15.7973 15.6723 14.7915 15.6723 13.5585C15.6715 12.3143 16.717 11.3093 17.9995 11.3093Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="18" height="18" fill="white" transform="translate(9 9)"/>
    </clipPath>
    </defs>
    </svg>
    