
<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="36" height="36" rx="5" fill="#1C212B"/>
    <g clip-path="url(#clip0)">
    <path d="M26.5622 12.0077C25.419 12.0077 24.3642 11.629 23.5172 10.9901C22.5458 10.2578 21.8478 9.18345 21.6014 7.94521C21.5403 7.63927 21.5075 7.32355 21.5043 7H18.2388V15.9231L18.2348 20.8108C18.2348 22.1175 17.3839 23.2254 16.2044 23.6151C15.862 23.7282 15.4923 23.7818 15.1074 23.7606C14.616 23.7336 14.1555 23.5854 13.7553 23.3459C12.9036 22.8365 12.3261 21.9125 12.3105 20.8554C12.2858 19.2032 13.6215 17.8562 15.2725 17.8562C15.5984 17.8562 15.9113 17.9094 16.2044 18.006V15.5671V14.6904C15.8953 14.6446 15.5808 14.6207 15.2627 14.6207C13.4556 14.6207 11.7655 15.3719 10.5574 16.7252C9.64425 17.7478 9.09653 19.0526 9.01202 20.4207C8.9013 22.218 9.55896 23.9265 10.8344 25.187C11.0218 25.3721 11.2186 25.5438 11.4243 25.7023C12.5178 26.5438 13.8547 27 15.2627 27C15.5808 27 15.8953 26.9765 16.2044 26.9308C17.5197 26.7359 18.7333 26.1338 19.691 25.187C20.8678 24.0239 21.518 22.4797 21.5251 20.8362L21.5083 13.5374C22.0697 13.9705 22.6835 14.3289 23.3423 14.607C24.367 15.0394 25.4534 15.2584 26.5715 15.2581V12.8868V12.0069C26.5723 12.0077 26.5629 12.0077 26.5622 12.0077V12.0077Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="20" height="20" fill="white" transform="translate(8 8)"/>
    </clipPath>
    </defs>
    </svg>
    