
<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="36" height="36" rx="5" fill="#1C212B"/>
    <path d="M18.9511 23.123C18.9511 23.123 19.3111 23.0838 19.4955 22.8894C19.6643 22.7113 19.6584 22.3751 19.6584 22.3751C19.6584 22.3751 19.636 20.8056 20.3784 20.5739C21.11 20.346 22.0495 22.0917 23.0465 22.763C23.7996 23.2705 24.3713 23.1594 24.3713 23.1594L27.0356 23.123C27.0356 23.123 28.4287 23.0388 27.7682 21.9634C27.7136 21.8753 27.3829 21.1676 25.7878 19.714C24.1167 18.1923 24.3411 18.4384 26.3527 15.806C27.578 14.203 28.0677 13.2243 27.9145 12.8058C27.7692 12.4055 26.8678 12.5118 26.8678 12.5118L23.8689 12.53C23.8689 12.53 23.6465 12.5003 23.4816 12.5971C23.3206 12.6919 23.2163 12.9131 23.2163 12.9131C23.2163 12.9131 22.7421 14.1532 22.109 15.2084C20.7735 17.4339 20.2398 17.5517 20.0213 17.4138C19.5131 17.0911 19.6399 16.1191 19.6399 15.4287C19.6399 13.2712 19.9735 12.372 18.9911 12.1393C18.6653 12.0618 18.4253 12.011 17.5912 12.0024C16.521 11.9919 15.6157 12.0062 15.1026 12.2523C14.7611 12.4161 14.4977 12.7819 14.6587 12.803C14.8567 12.8288 15.3055 12.9217 15.5435 13.2396C15.8508 13.6504 15.8401 14.5716 15.8401 14.5716C15.8401 14.5716 16.0167 17.1112 15.4274 17.4263C15.0235 17.6427 14.4694 17.2012 13.2783 15.1816C12.6686 14.1474 12.2081 13.004 12.2081 13.004C12.2081 13.004 12.1193 12.7905 11.9603 12.6756C11.7681 12.5367 11.4998 12.4936 11.4998 12.4936L8.65025 12.5118C8.65025 12.5118 8.22198 12.5233 8.06491 12.7062C7.92541 12.8681 8.05418 13.2042 8.05418 13.2042C8.05418 13.2042 10.2853 18.3283 12.812 20.911C15.1289 23.2782 17.759 23.123 17.759 23.123H18.9511Z" fill="white"/>
    </svg>
    