<script>
  import { onMount } from "svelte";
  import { sendMetrik } from "./helpers";
  import Daily from "./Daily/Index.svelte";
  import Rules from "./Rules/Index.svelte";
  import Participants from "./Participants/Index.svelte";
  import { user } from "./store";
  user.checkAuth();

  let flashmobRef;
  // function metrikTracker(event){
  //   if(event.target.href="#buy-ticket"){
  //     sendMetrik('Devytaev.BuyTicketPopup')
  //   }
  //   // if(event.target.classList.contains('buy_ticket_yandex')){
  //   //   sendMetrik('BuyTicket', {'Devytaev.BuyTicketProvider':'yandex'})
  //   // }
  //   // if(event.target.classList.contains('buy_ticket_rambler')){
  //   //   sendMetrik('BuyTicket', {'Devytaev.BuyTicketProvider':'rambler'})
  //   // }
  //   // if(event.target.classList.contains('buy_ticket_kinohod')){
  //   //   sendMetrik('BuyTicket', {'Devytaev.BuyTicketProvider':'kinohod'})
  //   // }
  // }
  // window.addEventListener('click', metrikTracker, true)
  if (document.querySelector('[href="#buy-ticket"]')) {
    document
      .querySelector('[href="#buy-ticket"]')
      .addEventListener("click", () => {
        sendMetrik("BuyTicketPopup");
      });
  }

  // onMount(()=>{
  //   if(window.location.hash==='#flashmob'){
  //     // flashmobRef.scrollIntoView();

  //   }
  // })
</script>

<div class="s-main" bind:this={flashmobRef}>
  <div class="s-column">
    <Rules />
  </div>
  <div class="s-column">
    <Daily />
  </div>
</div>
<!-- <div class="s-column"> -->
<Participants />

<!-- </div> -->
<style>
  .s-main {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  .s-column {
    width: 50%;
    min-height: 100vh;
    -webkit-user-select: none;
    user-select: none;
  }
  @media only screen and (max-width: 834px) {
    .s-main {
      flex-direction: column;
      height: auto;
    }
    .s-column {
      width: 100%;
      min-height: initial;
    }
  }
</style>
